html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.people-page,
.planet-page {
  padding: 70px 0;
}

.people-info,
.planet-details {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 40%);
  font-size: 18px;
}

.people-info span:not(:last-of-type),
.planet-details span:not(:last-of-type) {
  margin-bottom: 10px;
}

.people-info__name,
.planet-details__name {
  margin-bottom: 20px;
  font-size: 23px;
}

.planet-page-link {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  margin-top: 40px;
}
